@charset "UTF-8";
/* 设计稿750

  设计稿上 20px;

 */
@media only screen and (max-width: 480px) {
  html {
    font-size: 68.57143px; } }

@media only screen and (max-width: 414px) {
  html {
    font-size: 59.14286px; } }

@media only screen and (max-width: 412px) {
  html {
    font-size: 58.85714px; } }

@media only screen and (max-width: 400px) {
  html {
    font-size: 57.14286px; } }

@media only screen and (max-width: 393px) {
  html {
    font-size: 56.14286px; } }

@media only screen and (max-width: 375px) {
  html {
    font-size: 100px; } }

@media only screen and (max-width: 360px) {
  html {
    font-size: 51.42857px; } }

@media only screen and (max-width: 345px) {
  html {
    font-size: 49.28571px; } }

@media only screen and (max-width: 320px) {
  html {
    font-size: 45.71429px; } }

html {
  -webkit-text-size-adjust: none;
  font-size: calc(100vw / 7); }
  @media only screen and (min-width: 640px) {
    html {
      font-size: 91.42857px; } }

* {
  box-sizing: border-box;
  border: 0;
  -webkit-tap-highlight-color: transparent;
  outline: 0;
  margin: 0;
  padding: 0;
  font-size: .26rem;
  font-weight: 100; }

body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td {
  vertical-align: baseline;
  border: 0 none;
  list-style: outside none none; }

body {
  width: 100%;
  height: 100%;
  margin: auto;
  max-width: 640px;
  background: #f4f4f4;
  color: #666666;
  font-size: 12px;
  line-height: 1.5; }

.login-page {
  font-size: .266rem; }
  .login-page input::-webkit-input-placeholder {
    color: #ffffff; }
  .login-page input::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #ffffff; }
  .login-page input:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #ffffff; }
  .login-page input:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #ffffff; }
  .login-page .log {
    background-image: url(/_next/static/images/logobus-42a381e9b6f12263f0ac59ab9da66a29.png);
    width: 2.37rem;
    height: 2.02rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 2.2rem auto .5rem; }
  .login-page .btn {
    background-color: #ffb86f;
    height: .55rem;
    width: 4.4rem;
    border-radius: .1rem;
    margin: 0 auto;
    display: block;
    padding-left: .45rem; }
    .login-page .btn.mobile {
      margin-top: .2rem; }
    .login-page .btn.getyanzhengma {
      width: 1.61rem;
      padding-left: 0;
      display: inline-block;
      float: right;
      color: #ffffff; }
  .login-page .yanzhengma {
    height: .55rem;
    width: 4.4rem;
    margin: .2rem auto 0; }
    .login-page .yanzhengma .input-yanzhengma {
      width: 2.55rem;
      height: .55rem;
      border-color: #a4a4a4;
      border-style: solid;
      border-width: .02rem;
      border-radius: .1rem;
      padding-left: .45rem; }
    .login-page .yanzhengma input::-webkit-input-placeholder {
      color: #d1d1d1; }
    .login-page .yanzhengma input::-moz-placeholder {
      /* Mozilla Firefox 19+ */
      color: #d1d1d1; }
    .login-page .yanzhengma input:-moz-placeholder {
      /* Mozilla Firefox 4 to 18 */
      color: #d1d1d1; }
    .login-page .yanzhengma input:-ms-input-placeholder {
      /* Internet Explorer 10-11 */
      color: #d1d1d1; }
  .login-page .login-btn {
    height: .55rem;
    width: 4.4rem;
    margin: .45rem auto 0;
    background-color: #ff8201;
    display: block;
    border-radius: .1rem;
    color: #ffffff; }

/*# sourceMappingURL=style.css.map*/