@import '../styles';

.order-success-page {
  .log {
    margin: 0.8rem auto 0;
    background-image: url("../static/bingobus.png");
    width: 1rem;
    height: 1rem;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  .success-title {
    font-size: .532rem;
    color: #ff8201;
    text-align: center;
    font-weight: 400;
  }

  //.content {
  //  width: 4.8rem;
  //  height: 4.8rem;
  //  margin: 0 auto;
  //  border-color: #888888;
  //  border-style: solid;
  //  border-width: 1px;
  //  padding: .23rem .55rem;
  //  color: #888888;
  //  font-size: .26rem;
  //  line-height: .52rem;
  //  margin-top: .7rem;
  //
  //
  //  .title {
  //    font-size: .3rem;
  //    line-height: .60rem;
  //  }
  //}

  .success-go-btn {
    background-image: url("../static/btn.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 4.83rem;
    height: .76rem;
    margin: 0 auto;
    margin-top: 0.7rem;
  }
}


.order-page {
  font-size: 0.264rem;

  .form-content {
    margin-top: 2.3rem;
    .item {
      width: 5.2rem;
      height: .48rem;
      line-height: .48rem;
      margin: .34rem auto 0;

      span {
        color: #000000;
        font-weight: 400;
      }

      input, select {
        width: 3.5rem;
        height: .48rem;
        border-style: solid;
        border-width: 2px;
        border-color: #e4e4e4;
        float: right;
        border-radius: .1rem;
      }
    }

    .tip {
      margin-top: 1.3rem;
      text-align: center;
      color: #bbbbbb;
    }

    .submit {
      height: .55rem;
      width: 4.4rem;
      color: #ffffff;
      background-color: #ff8201;
      display: block;
      margin: .2rem auto 0;
      border-radius: .1rem;
    }
  }
}

