.path-image {
  width: 6.4rem;
  height: 7.6rem;
  margin: 2rem auto 0;
  background: url("../static/path-info.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}