
.content {
  width: 4.8rem;
  height: 4.8rem;
  margin: 0 auto;
  border-color: #888888;
  border-style: solid;
  border-width: 1px;
  padding: .23rem .55rem;
  color: #888888;
  font-size: .26rem;
  line-height: .52rem;
  margin-top: .7rem;

  .title {
    font-size: .3rem;
    line-height: .60rem;
  }
}